# Ensure consistent line endings
* text=auto

# Don't include large data in archive exports
data/screenshots/** export-ignore
# ignore database files in export
data/*.db export-ignore
data/*.sqlite export-ignore
